 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Software developer with 9 years of experience working with different technologies.</p>
                </div>
                <div class="col-lg-4">
                    <p>Offering strong PHP skills and working experience with Laravel, MySQL, jQuery, and other technologies.</p>
                </div>
            </div>
        </div>
    </section>
