 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a IT developer that enjoys coding all day, thinking and searching solutions to solve problems. I love challenges because that makes me grow up.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have 6 years of experience working with all kind of teams, they helped me to improve my skills and grow up as a human been</p>
                </div>
            </div>
        </div>
    </section>